@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>You are entering into a special space-aged collection of work-related data and numericals. We hope to goodness that you will take special care of this information so that we do not lose our shirts in this endeavor Thank you and you are welcome.</p>
    </div>
